.awardsButtonMenu {
  width: auto; /*Allow the button to adjust its width based on content, was previously 4vw */
  height: 0.8rem;
  padding: 0.4rem 3rem;
  background: #48021e;
  margin-left: 0.7vw;
  /* top: 3px; */
  color: #fff;
  font-family: EB Garamond;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  border: 1px solid transparent;
}

.awardsButtonMenu:hover {
  background: white;
  color: #48021e;
  border: 1px solid #48021e;
}

@media (max-width: 1300px) {
  .awardsButtonMenu {
    display: none;
  }
}
