.awardsButtonMenu {
  width: auto; /*Allow the button to adjust its width based on content, was previously 4vw */
  height: 14px;
  padding: 7px 54px;
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-left: 2.7vw;
  background: #48021e;
  top: 3px;
  color: #fff;
  font-family: EB Garamond;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
