.bookButtonMenu {
  width: auto; /*Allow the button to adjust its width based on content, was previously 4vw */
  /* height: 14px;
  padding: 7px 54px; */
  height: 0.8rem;
  padding: 0.4rem 3rem;
  background: #48021e;
  top: 3px;
  color: #fff;
  font-family: EB Garamond;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.1rem;
  line-height: normal;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid transparent; /* Start with a transparent border */
}

.bookButtonMenu:hover {
  background: white;
  color: #48021e;
  border: 1px solid #48021e;
}

@media (max-width: 1200px) {
  .bookButtonMenu {
    display: none;
  }
}
