.cardDivDiningSights {
  display: flex;
  justify-content: space-between;
  background-color: green;
  width: 66vw;
  height: 50vh;
  margin-top: 3vw;
}

.cardDiningContainer {
  display: flex;
  justify-content: center;
  background-color: translucent;
}

.cardDiningLeftTextTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15.8vw;
  height: 50vh;
  background-color: translucent;
  color: #48021e;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
  font-family: EB Garamond, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.cardDiningLeftTextContent {
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: EB Garamond, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.cardDiningLeftTextButton {
  display: flex;
  height: fit-content;
  width: fit-content;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: EB Garamond, sans-serif;
  line-height: 0;
  letter-spacing: 0.05rem;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid #48021e;
}

.cardDiningRightImageContainer {
  display: flex;
  justify-content: center;
  width: 15.8vw;
  height: 50vh;
  background-color: translucent;
  cursor: pointer;
}

.cardSightsContainer {
  display: flex;
  justify-content: space-between;
  background-color: translucent;
}

.cardSightsLeftTextTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15.8vw;
  height: 50vh;
  background-color: translucent;
  color: #48021e;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  border-left: 1px solid #eaeaea;
  padding: 2rem;
  box-sizing: border-box;
  font-size: 2rem;
  text-align: center;
  font-family: EB Garamond, sans-serif;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.cardSightsLeftTextContent {
  display: flex;
  font-size: 1.1rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: EB Garamond, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.cardSightsLeftTextButton {
  display: flex;
  height: fit-content;
  width: fit-content;
  font-size: 0.8rem;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: EB Garamond, sans-serif;
  line-height: 0;
  letter-spacing: 0.05rem;
  font-weight: 700;
  cursor: pointer;
  border-bottom: 1px solid #48021e;
}

.cardSightsRightImageContainer {
  display: flex;
  justify-content: center;
  width: 15.8vw;
  height: 50vh;
  background-color: translucent;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .cardDiningLeftTextTitle {
    font-size: 1.1rem;
  }

  .cardSightsLeftTextTitle {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 1200px) {
  .cardDiningLeftTextTitle {
    padding: 1rem;
    font-size: 1.1rem;
  }

  .cardDiningLeftTextContent {
    font-size: 1rem;
  }

  .cardDiningLeftTextButton {
    font-size: 0.65rem;
    letter-spacing: 0rem;
  }

  .cardSightsLeftTextTitle {
    font-size: 1.1rem;
  }

  .cardSightsLeftTextContent {
    font-size: 1rem;
  }

  .cardSightsLeftTextButton {
    font-size: 0.65rem;
    letter-spacing: 0rem;
  }
}

@media screen and (max-width: 1000px) {
  .cardDiningLeftTextTitle {
    font-size: 0.9rem;
    padding: 0rem;
  }

  .cardDiningLeftTextContent {
    font-size: 0.8rem;
  }

  .cardDiningLeftTextButton {
    font-size: 0.65rem;
    letter-spacing: 0rem;
  }

  .cardSightsLeftTextTitle {
    font-size: 0.9rem;
    padding: 0rem;
  }

  .cardSightsLeftTextContent {
    font-size: 0.8rem;
  }

  .cardSightsLeftTextButton {
    font-size: 0.65rem;
    letter-spacing: 0rem;
  }
}

@media screen and (max-width: 800px) {
  .cardDiningContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    max-height: 50vh;
  }

  .cardDiningLeftTextTitle {
    width: 31.6vw;
    border-right: 1px solid #eaeaea;
    max-height: 50vh;
    padding: 0rem;
    font-size: 1.2rem;
  }

  .cardDiningRightImageContainer {
    width: 31.6vw;
    max-height: 21vh;
  }

  .cardSightsContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .cardSightsLeftTextTitle {
    width: 31.6vw;
    border-right: 1px solid #eaeaea;
    max-height: 30vh;
    padding: 0rem;
    font-size: 1.2rem;
  }

  .cardSightsRightImageContainer {
    width: 31.6vw;
    max-height: 21vh;
  }
}

@media screen and (max-width: 600px) {
  .cardDiningContainer {
    min-width: 66vw;
    /* flex-direction: column; */
  }

  .cardDivDiningSights {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }

  .cardDiningLeftTextTitle {
    width: 66vw;
  }

  .cardDiningRightImageContainer {
    width: 66vw;
  }
}
